VITE_API_BASE_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://doclbjdzdozgltjwxozg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvY2xiamR6ZG96Z2x0and4b3pnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MDYwNTgsImV4cCI6MjA4ODQ4MjA1OH0.o4TtAtdz0nFpXU2ESvuePGNk3H8GQ-cePz8BAGIDvjk
